@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #030014;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url("./BG.png");
}
@layer base{
  body {
    min-width: 1280px;
    color: white;
    font-family: "DM Sans", serif;
    background: #030014;
  }
  button {
    @apply transition cursor-pointer hover:scale-130
  }
}
@layer components {
  .heading {
    @apply font-bold sm:text-7xl text-5xl mx-auto leading-tight
    sm:leading-[100px] tracking-[-1%] text-center;
  }
  .pattern {
    @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute -z-0;
  }
  .nav-bar{
     @apply px-1 py-12 xs:p-2 flex relative items-center;
  }
  .wrapper{
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative items-center;
  }
  .styled-button {
    @apply transition m-2 duration-300 ease-in-out bg-gradient-to-r from-purple-500 to-pink-500 text-white sm:px-4 sm:py-2 sm:text-sm px-2 py-1 text-[15px] font-bold rounded-3xl hover:scale-120 cursor-pointer;
  }
  .name-tile {
    @apply relative bg-gradient-to-r from-purple-800 to-indigo-800/60 
                       border border-pink-400/50 rounded-lg 
                       p-4 sm:p-6 lg:p-8
                       m-1 sm:m-2
                       shadow-lg hover:shadow-purple-400/35 
                       transition-all duration-300 hover:scale-105
                       backdrop-blur-sm
                       w-10/12
                       text-lg sm:text-2xl
                       max-w-4xl;
  }
  .search {
    @apply w-full bg-light-100/20 px-4 py-3 rounded-lg max-w-3xl mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-light-200 outline-hidden;
    }
  }
  .login-window-bg {
    @apply fixed w-full h-full bg-black/70 top-0 left-0 z-20 flex items-center justify-center;
  }
  .login-window {
    @apply relative bg-gray-800 h-10/12 w-10/12 max-w-xl rounded-2xl flex-col items-center px-10 py-7;
  }
}

@utility text-gradient {
  @apply bg-linear-to-r from-violet-500 via-indigo-500 to-pink-500 bg-clip-text text-transparent;
}